// 基础圆形样式
%circle-base {
  padding: 0.8rem 1.6rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: white;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}

.circle-1 {
  @extend %circle-base;
  background-color: oklch(70.5% 0.213 47.604);
}

.circle-2 {
  @extend %circle-base;
  background-color: oklch(72.3% 0.219 149.579);
}

.circle-3 {
  @extend %circle-base;
  background-color: oklch(68.5% 0.169 237.323);
}
